<div class="show_movierating_index">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
            

<h1>New Rating</h1>

<%= render 'form', rating: @rating %>

<%= link_to 'Back', ratings_path %>
    </div>
          </div>
        </div>
      </div>